
/* Use a single @font-face rule for FontAwesome and correct the URL duplications */
@font-face { 
    font-family: 'FontAwesome';
    src: url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
        url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Basic body styling */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    display: table;
    width: 90%;
    height: 100%;
    word-break: keep-all;
}

/* Basic HTML styling */
html {
    font-family: sans-serif;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

/* Styling for main content area */
main {
    display: block;
}

/* Responsive layout for .fran-left-content */
.fran-left-content {
    position: relative;
    padding: 15px;
}
@media (min-width: 768px) {
    .fran-left-content {
        float: left;
        width: 66.6666666667%;
    }
}

/* General list styles */
ul, .list-group {
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px;
}

/* Link styles */
a {
    color: #009ed8;
    text-decoration: none;
}

a:hover {
    color: #00668c;
    text-decoration: underline;
}

.entry-content {
    font-size: 14px;
}

.font_xlarge {
    font-size: 20px;
    font-weight: bold;
}

.font_xsmal {
    font-size: 12px;
}

.sup {
    vertical-align: super;
}

.color_dark {
    color: #000000;
}

.color_lightdark {
    color: #777;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        width: 95%;
        margin: 10px;
        padding: 10px;
    }
}

[class="manual"] {
    border-top: 1px solid #ccc;
}.color_orange {
    color: #f90;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 3%;
}

.italic {
    font-style: italic;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

[data-group="example"] {
    display: block; /* Makes each example appear on a new line */
    margin-left: 20px; /* Optional: adds some spacing on the left for better alignment */
}

/* Example-specific styles */
[data-group="example"]::before {
    content: "- ";
}


